@import './assets/css/colors';

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.project-name {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding: 20px 0;
  transition: .5s all ease-in;
}

.ant-layout-sider-collapsed .project-name {
  font-size: 12px;
  transition: .5s all ease-out;
  transform: scale(1.2);
}
.ant-layout {
  height: 100%;

  .content-side // .dashboard,

  // .customer,
  // .product-container,
  // .orders,
  // .warehouse,
  // .employees,
  // .orders-details,
  // .report 
    {
    text-align: left;
    background-color: $purple-light;
    padding: 2rem;
    height: 100%;
    overflow-y: auto;
  }

  // table {
  //   td.actions > button,
  //   td.actions > button:hover {
  //     border: none;
  //     background: #fff;
  //     box-shadow: none;
  //     outline: none;
  //   }
  // }
}

// .ant-popover-arrow {
//   display: none;
// }

// .ant-tag {
//   min-width: 80px;
// }

// .ant-popover-inner-content {
//   .my-popover-container {
//     .my-popover-item {
//       background-color: white;
//       min-width: 100px;
//       text-align: left;
//       border: none;
//       display: flex;
//       align-items: center;
//     }
//   }
// }

// .ant-btn::after {
//   border-color: white !important;
//   box-shadow: none !important;
// }

// .inputFile {
//   cursor: pointer;
//   width: 180px;
//   height: 34px;
//   overflow: hidden;
//   &:before {
//     width: 158px;
//     height: 32px;
//     font-size: 16px;
//     line-height: 32px;
//     content: 'Select your file';
//     display: inline-block;
//     background: white;
//     border: 1px solid #000;
//     padding: 0 10px;
//     text-align: center;
//     font-family: Helvetica, Arial, sans-serif;
//   }
//   &::-webkit-file-upload-button {
//     visibility: hidden;
//   }
// }

// .active-navlink{
//   background: #212a3e;
// }

// span {
//   svg{
//     vertical-align: baseline;
//   }
// }