$primary: #394867;
$green: #8BC34A;
$red: #D32F2F;
$purple-light: #F4EEFF;
$blue: #039BE5;
$gray-light: #a3a3a3;

$primary-green: #077915;
$primary-orange: #fc7710;
$white: #fff;
$gray-eighty: #ccc;
$gray-medium: #666;
$gray-dark: #333;
$black: #000;
$gray-light-bg: #f5f5f5;
$gray-medium-bg: #f1f1f1;
$gray-dark-bg: #dddddd;
$green-light-bg: rgba(147, 220, 156, 0.15);
